.footer {
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 5%;
  }
  
.footer p {
    margin-right: 3%;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
