.page-nav {
    width: 16%;
    background-color: #ffffff;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 2%;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  nav li {
    margin: 30px;
  }
  
  nav button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Times New Roman', Times, serif
  }
  
  nav button:hover {
    background-color: #3A63DF;
  }
  