.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
  }

.left {
    display: left;
    margin-left: 10%;
}
  
  .main {
    height: 83.3333%;
    display: flex;
    background-color: #ffffff;
  }
  